
body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    padding: 50% 0 5% 0;
}

.mockup {
    width: 20rem;
    padding: 10% 0;
}

.navbar-brand {
    font-family: 'Niconne', cursive;
    font-size: 2.5rem;
}

.woman-profile {
    width: 15rem;
}

.container-fluid {
    padding: 3% 20%;
}

.nav-link {
    font-size: 1.2rem;
}

.nav-item {
    padding: 0 18px;
}

#title {
    color: #ffffff;
    -webkit-animation: bg-color 20s infinite;
    animation: bg-color 20s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes bg-color {
    0% {
        background-color: #ff4b5c;
    }

    33% {
        background-color: #28df99;
    }

    66% {
        background-color: #ffd571;
    }

    100% {
        background-color: #40a8c4;
    }
}